@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.input::placeholder {
  font-family: "Jura", sans-serif;
  font-size: 0.8em;
}
/* button {
  padding: 0.5em 1em;
} */

.app-light {
  background-color: aquamarine;
  color: black;
}

.app-dark {
  background-color: black;
  color: whitesmoke;
}
